body {
  background: rgba(0, 0, 0, 0.65) url(./images/background-image.jpg);
  background-blend-mode: darken;
}
.bg-custom {
  background-color: rgb(119, 56, 56);
}
a {
  color: rgb(145, 177, 226) !important;
}
.textField h1 {
  color: rgb(145, 177, 226);
  text-align: center;
  font-size: 78px;
}
.card img {
  height: 300px;
  border-bottom: solid black 1px;
}
.card-body {
  text-align: center;
  background-color: rgb(119, 56, 56);
  color: rgb(145, 177, 226);
  font-size: 25px;
}
.card-text {
  font-size: 40px;
  font-weight: bold;
}
.portfolio {
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}
a:hover {
  color: darkmagenta;
}
